---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "jekyll-theme-prologue";

#header {
    background-image: url("../images/pbanner.jpg"); // Path to your image
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
---
@import "jekyll-theme-prologue";
